h1 {
  font-size: 80px;
}

h2 {
  font-size: 36px;
  margin-top: 100px;
  opacity: 0;
  animation: appear 1s 3s forwards;
}

.container {
  margin: 4em;
  text-align: center;
}

.loader {
  margin: auto;
  margin-top: 100px;
  border: 16px solid #bdc3c7;
  width: 120px;
  height: 120px;
  border-top-color: #1abc9c;
  border-bottom-color: #3498db;
  border-radius: 50%;
  animation: coloredSpin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

@keyframes coloredSpin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    border-top-color: #2ecc71;
    border-bottom-color: #2ecc71;
  }
  50% {
    transform: rotate(360deg) scale(1.1);
    border-top-color: #3498db;
    border-bottom-color: #3498db;
  }
  75% {
    border-top-color: #9b59b6;
    border-bottom-color: #9b59b6;
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
