body {
  margin: 0 0 0 0;
  background-color: #2c3e50;
  animation-name: cycleskycolors;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 0;
}

.grass {
  background: green;
  height: 600px;
  width: 100%;
  position: absolute;
}

.sun {
  background: #f1c40f;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation-name: suncycle;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes cycleskycolors {
  0% {
    background-color: #2c3e50;
  }
  10% {
    background-color: pink;
  }
  30% {
    background-color: #3498db;
  }
  70% {
    background-color: #3498db;
  }
  90% {
    background-color: pink;
  }
  100% {
    background-color: #2c3e50;
  }
}

@keyframes suncycle {
  0% {
    transform: translate(0px, 150px);
    background-color: #d35400;
  }
  25% {
    transform: translate(275px, 0px);
    background-color: #f1c40f;
  }
  50% {
    transform: translate(550px, -50px);
  }
  75% {
    transform: translate(800px, 0px);
    background-color: #f1c40f;
  }
  100% {
    transform: translate(1100px, 150px);
    background-color: #d35400;
  }
}
